<div class="card">
  <div class="card-header">
    <h2>Sign up</h2>
    <ul class="actions">
      <li>
          <a href="" title="<%= t('Refresh') %>">
              <i class="zmdi zmdi-refresh-alt"></i>
          </a>
      </li>
    </ul>
</div>
  <div class="card-body card-padding">
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
      <% end %>

      <%= f.actions do %>
        <%= f.action :submit, label: "Sign up", :as => :button, :button_html => { class: "btn btn-primary btn-sm m-t-10 waves-effect" } %>
        <%= render "devise/shared/links" %>
      <% end %>
    <% end %>
	</div>
</div>
