<% @comments = @comments.order(id: :desc).paginate(page: params[:page]) %>
<div class="card">
  <div class="card-header">
    <h2>
      Comentários
    </h2>
  </div>
  <div class="card-body card-padding">
    <table class="table">
      <thead>
        <tr>
          <th>Data</th>
          <th>Usuário</th>
          <th>Comentário</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.created_at %></td>
            <td><%= comment.user %></td>
            <td><%= comment.text %></td>
            <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @comments, class: "apple_pagination", previous_label: "← Anterior", next_label: "Próxima →" %>
  </div>
</div>