<div class="card">
  <div class="card-header">
    <h2><%%= t('helpers.submit.general.show', model: t('activerecord.models.<%= singular_table_name %>.one')) %></h2>

    <ul class="actions">
      <li>
        <%%= link_to <%= table_name %>_path, title: t('activerecord.link.back_to_list') do %>
            <i class="zmdi zmdi-arrow-left"></i>
        <%% end %>
      </li>
      <li>
          <a href="" title="<%%= t('Refresh') %>">
              <i class="zmdi zmdi-refresh-alt"></i>
          </a>
      </li>
      <li>
				<%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), title: t('Edit') do %>
            <i class="zmdi zmdi-edit"></i>
        <%% end if can? :edit, @<%= singular_table_name %> %>
      </li>
    </ul>
  </div>
  <div class="card-body card-padding">
    <%- attributes.each do |attribute| -%>
      <div class="row">
        <div class="col-xs-12">
          <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>') %></label><br/>&nbsp;
          <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
        </div>
      </div>
    <%- end -%>
      <div class="row">
        <div class="col-xs-12">
          <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.created_at') %></label><br/>&nbsp;
          <%%= @<%= singular_table_name %>.created_at %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label class="fg-label"><%%= t('activerecord.attributes.<%= singular_table_name %>.updated_at') %></label><br/>&nbsp;
          <%%= @<%= singular_table_name %>.updated_at %>
        </div>
      </div>
  </div>
</div>
