<%= semantic_form_for @category do |f| %>
  <%= f.inputs do %>
    
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :name %>
      </div>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Salvar", :as => :button, :button_html => { class: "btn btn-primary btn-sm m-t-10 waves-effect" } %>
  <% end %>
<% end %>
