<style rel="stylesheet" type="text/css">
.profile-pic > img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.14);
    box-sizing: content-box;
}

.profile-pic {
  display:  block;
  margin:  auto;
  width:  50px;
}

</style>
<!-- <ul>
  <li><%= link_to t('home'), home_index_path %></li>
  <% if can? :manage, User %>
    <li><%= link_to t('activerecord.models.user.other'), users_path %></li>
  <% end %>
  <% if current_user && current_user.has_role?(:admin) %>
    <li><%= link_to t('auditoria'), home_database_changes_path %></li>
  <% end %>
  <% if user_signed_in? %>
    <li><%= link_to(t('exit'), destroy_user_session_path, :method => :delete) %></li>
  <% else %>
    <li><%= link_to('Faça login', new_user_session_path)  %></li>
  <% end %>
</ul> -->
<ul class="main-menu">

  <% if current_user %>
    <li class="separator"><hr/></li>
    <li>
      <%= link_to edit_user_registration_path do %>
        <i class="zmdi zmdi-account"></i>Editar perfil
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, method: 'DELETE' do %>
        <i class="zmdi zmdi-time-restore"></i>Sair
      <% end %>
    </li>
    <div class="profile-pic">
      <%= gravatar_for(current_user, class: "mCS_img_loaded") %>
    </div>
  <% end %>
  <!-- <li class="sub-menu">
    <a href=""><i class="zmdi zmdi-view-compact"></i> Headers</a>

    <ul>
      <li><a href="textual-menu.html">Textual menu</a></li>
      <li><a href="image-logo.html">Image logo</a></li>
      <li><a href="top-mainmenu.html">Mainmenu on top</a></li>
    </ul>
  </li>
  <li><a href="typography.html"><i class="zmdi zmdi-format-underlined"></i> Typography</a></li> -->
</ul>
